



    <ion-content>
        <div class="container">
          <div class="head">

              <div class="logo">
               
                  <div class="logo1">
                    <img src="../../assets/imgs/compass.png" width="70%" >
                  </div>
                  <div class="logo2">
                     <h3>The Grand Hotel</h3>
                  </div>
                 </div>
            
          
          </div>
          <!-- cards -->
          <div class="cards">
              <img src="../../assets/imgs/mastercard.png" width="35%">
              <img src="../../assets/imgs/visa.png" width="35%" id="visa">
           
          </div>
      
       <!-- inputs -->
       <form action=""  [formGroup]="paymentForm">
       <div class="inputs">
          <ion-item>
              <ion-label floating style="color: rgb(3, 18, 68); font-size: 4vw; font-weight: 500">Card holder</ion-label>
              <ion-input style="color: goldenrod; border-bottom: 1px solid black" type="text"
              [(ngModel)]="Payment.cardHolderName" formControlName="cardHolder" ngDefaultControl></ion-input>
            </ion-item>
            <div class="error" *ngFor="let validate of validation_messages.cardHolder">
              <div class="messages" *ngIf="paymentForm.get('cardHolder').hasError(validate.type) && (paymentForm.get('cardHolder').dirty || paymentForm.get('cardHolder').touched)">
                {{validate.message}}
              </div>
              </div>
            <ion-item>
                <ion-label floating style="color: rgb(3, 18, 68); font-size: 4vw; font-weight: 500">Card number</ion-label>
                <ion-input style="color: goldenrod; border-bottom: 1px solid black" type="tel" maxLength="16"
                [(ngModel)]="Payment.cardnumber" formControlName="cardNumber" ></ion-input>
              </ion-item>
              <div class="error" *ngFor="let validate of validation_messages.cardNumber" style="color: red">
                <div class="messages" *ngIf="paymentForm.get('cardNumber').hasError(validate.type) && (paymentForm.get('cardNumber').dirty || paymentForm.get('cardNumber').touched)">
                  {{validate.message}}
                </div>
                </div>
          
            <ion-item>
              <ion-label floating style="color: rgb(3, 18, 68); font-size: 4vw; font-weight: 500">CVV</ion-label>
              <ion-input style="color: goldenrod; border-bottom: 1px solid black" type="tel" maxLength="4"
              [(ngModel)]="Payment.cvv" formControlName="cvv" ></ion-input>
            </ion-item>
            <div class="error" *ngFor="let validate of validation_messages.cvv" style="color: red">
              <div class="messages" *ngIf="paymentForm.get('cvv').hasError(validate.type) && (paymentForm.get('cvv').dirty || paymentForm.get('cvv').touched)">
                {{validate.message}}
              </div>
              </div>
          
            <ion-item>
                <ion-label floating style="color: rgb(3, 18, 68); font-size: 4vw; font-weight: 500">Expiration date</ion-label>
                <ion-datetime  max="2030-12-31" min="2019-09-13" displayFormat="MM, YYYY" pickerFormat="MM YYYY" style="color: goldenrod; border-bottom: 1px solid black" 
                [(ngModel)]="Payment.expiration"  formControlName="expiration"></ion-datetime>
              </ion-item>
      </div>

       <div class="btn">
        <button id="skip" type="submit" (click)="gopayform()"  [disabled]="!paymentForm.valid" ion-button clear large style="color: #fff; width:100%; letter-spacing: 3px;font-size:4vw; background: rgba(167, 122, 37, 1); font-family:Georgia, 'Times New Roman', Times, serif;">Pay </button>

      </div> 
    </form>
      
     </div>
      
</ion-content>
