page-landhome {
  ion-content {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;

    .container {
     // border: 1px solid red;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.424)),url(../../assets/imgs/hotel-front3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .head {
      display: flex;
     // border: 1px solid white;
      width: 100%;
      height: 10%;
      z-index: 5;
      position: relative;
        left: 0%;
        top: 0%;

        .logo {
        //  border: 1px solid red;
          width: 20%;
          height: 100%;
        }
        .text {
        // border: 1px solid rgb(0, 60, 255);
          width: 80%;
          height: 100%;

          h4 {
            font-family: serif;
            color: white;
            letter-spacing: 1px;
            font-size: 7vw;
          }
        }
    }
      
      /*  .topnav {
         display: flex;
        width: 100%;
        height: 10%;
       // border: 1px solid red;
        background: rgba(167, 122, 37, 1);
          .profile-image {
        background: red;
        height: 90%;
        width:  17%;
        border-radius: 50%;
        position: relative;
        left: 72%;
        top: 4%;
    
        
       // object-position: center;
        
        img {
          border-radius: 50%;
          object-fit: cover;
         
          width: 100%;
          height: 100%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
     }

       } */
       //profile image in the navbar
      

      //outline border
      .border {
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        

        border-top: 2px solid white;
        z-index: 5;
        width: 60%;
        height: 70%;
        position: relative;
        left: 0%;
        top: 5%;

        .border3 {
          border-bottom: 2px solid white;
          border-right: 2px solid white;
          background: url(../../assets/imgs/hotel-front3.jpg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
          border-top: 2px solid white;
          z-index: 7;
          width: 80%;
          height: 85%;
          position: relative;
          left: 0%;
          top: 7.5%;

        }
        .welcome {
          //border: 1px solid white;
          width: 100%;
          height: 10%;
          position: relative;
  
          top: 65%;
      
          h4 {
           // border: 1px solid green;
              margin-top: 0;
              text-align: center;
              color: white;
              font-size: 7vw;
              letter-spacing: 1px;
          }
        }

        .lorem {
        //  border: 1px solid white;
          width: 90%;
          height: 20%;
          position: relative;
          left: 5%;
          top: 69%;
          text-align: center;
          p {
            color: white;
            letter-spacing: 1px;
            font-family: serif;
            font-size: 4vw;
            padding: 0;
            margin: 0;
          }
        }
        
        

      }
      .border2 {
    // background: linear-gradient(rgba(0, 0, 0, 0.424));
        width: 45%;
        height: 70%;
        position: relative;
        left: 59%;
        bottom: 65%;
       // border: 3px solid black;

        
      }

      .image {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 80%;
        height: 80%;
        position: relative;
        left: 0;
        top: -80%;
        z-index: 5;

     
     


       

       

       



        //buttons
        .btns {
         // background: linear-gradient(rgba(0, 0, 0, 0.424));
       // border: 1px solid red;
          width: 50%;
          height: 70%;
          position: absolute;
          top: -65%;
          left: 68%;

          //button
          .btn {
            display: flex;
            flex-direction: row;
          // border: 1px solid rgb(15, 14, 14);
            width: 100%;
            height: 13%;
            border-radius: 6px;

            .text {
           
              width: 70%;
              height: 100%;
              margin-top: 8%;
              text-align: center;
                border-radius: 6px;
              p {
                font-family: serif;
                margin: 0;
                 // border: 1px solid white;
              text-align: left;
                font-size: 5.5vw;
                color: white;
                padding-top: 10%;
                padding-left: 2.5%;
                letter-spacing: 1px;
              }

            }

            .icon {
              border: 1px solid white;
              background: linear-gradient(rgba(0, 0, 0, 0.938));
              width: 25%;
              height: 80%;
              margin-top: 13%;
            //  padding: 0;
              display: flex;
              justify-content: center;
              align-content: center;
              border-radius: 5px;
              position: relative;
              svg {
                position: absolute;
                top: 0;
                font-weight: bolder;
              } 
              ion-icon {

                font-size: 5vw;
                margin: 0;
                padding: 0;
              }


            }
          }
        }
      }
    }
  }
}
