<!--
  Generated template for the RegistermodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
<div class="container" style="background-image: url(../../assets/imgs/background.jpeg);background-size: cover;background-position:center center;background-repeat: no-repeat; z-index: 0;">
  <div class="head">
    <h1>Create an Account</h1>
    <p>and have the luxury of convenience to book with us anytime, anywhere </p>
  </div>

  
  <div class="inputs">
      <!--      <ion-list > -->
        <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
          <ion-item style="background: transparent">
            <ion-label floating style="color: white; font-weight: 700; letter-spacing: 1px" ><ion-icon name="mail" style="color: white"></ion-icon>  Email</ion-label>
            <ion-input type="email" style="color: white;font-weight: 400; letter-spacing: 1px" formControlName="email" 
            [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
          </ion-item>
        <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
          <p style="color: red">Please enter a valid email.</p>
        </ion-item>
          <ion-item style="background: transparent">
            <ion-label floating style="color: white; font-weight: 700; letter-spacing: 1px" ><ion-icon name="lock" style="color:white"></ion-icon>  Password</ion-label>
            <ion-input  type="password" style="color: white;font-weight: 400; letter-spacing: 1px" formControlName="password"
            [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
            <p style="color: red">Your password needs more than 6 characters.</p>
          </ion-item>
          <br>
          <button id="skip" type="submit" ion-button clear  large style="color: #fff; width: 100%; letter-spacing: 3px; background: rgba(167, 122, 37, 1); font-size: 100%; padding: 7%; font-family:Georgia, 'Times New Roman', Times, serif;">Create my Account </button>

        </form>
             
            
        </div>   

        <!-- foot -->
        <div class="foot">
          <p>Already have an account? <span><h6 (click)="loginModal()">Login</h6></span></p>
        </div>

</div>
</ion-content>
