page-createprofile {
ion-content {
    //border: 1px solid red;
    width: 100%;
    height: 100%;
      

    .container {
        .messages{
            color: red;
        }
        .scroll-content{
            padding-bottom: 0 !important;
        }
       // border: 1px solid rgb(19, 34, 247);
        width: 100%;
        height: 100%;
        overflow: hidden;
       

       .head {
      //border: 1px solid black;
        height: 15%;
        width: 80%;
        position: relative;
        left: 10%;

        h1 {
            color: white;
            text-align: center;
            font-family: serif;
            font-size: 8vw;
        }
        p {
            color: white;
            text-align: center;
            
            font-size: 4vw;
        }
        }

        .inputs {
           // border: 1px solid red;
            height: 70%;
            width: 80%;
            position: relative;
            left: 10%;
.propic {
   // border: 1px solid white;
    height: 30%;
      .profile-image {
                
                    height: 20vh;
                    width:  20vh;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                    border: 10px solid rgba(0, 0, 0, 0.733);
                    position: relative;
                    left: 30%;
                    top: 3%;
                    border: 1.3px solid white;
                 
            }
            ion-icon {
                position: absolute;
                left: 25%;
               top: 5%;
            }

           button {
                //border: 1px solid green;
                position: relative;
                left: 80%;
               top: 55%;
                z-index: 5;
            }
}
          
        } 
        .btn {
          //  border: 1px solid green;
            height: 15%;
            width: 80%;
            position: relative;
            left: 10%;
            button {
                position: relative;
                top: 15%;
            }
          
        }
    }
}
}
