page-roomdetails {
    ion-content {
        background: 1px solid black;
       
        .container {
            
            width: 100%;
            height: 100%;

            .image{
                width: 100%;
                height: 100%;
            }
        .room {
            border: 2px solid red;
            width: 80%;
            height: 60%;
            position: relative;
            left: 10%;
            top: -60%;

            .list {
                background: black;
                border: 2px solid rgb(68, 0, 255);
            width: 100%;
            height: 60%;

            h5 {
                color: white;
                text-align:center;
                letter-spacing: 1px;
            }
            li {
                color: white;
                text-align: left;
                letter-spacing: 1px; 
                line-height: 5vw;
            }
            }

            .amenities {
                border: 2px solid rgb(15, 151, 22);
                width: 80%;
                height: 40%; 
                position: relative;
            left: 10%;
            }
        }

        //button
        button {
            position: relative;
            top: -5%;
            left: -10%;

        }
        }
      
}
}
