page-roomdetails {
ion-content {
    
    bottom: 0;
    .container {
        border: 1px solid red;
        width: 100%;
        height: 100%;

        //image
        .image {
            width: 90%;
            height: 50%;
            background: green;
            position: relative;
            left: 5%;
          
        }

        .highlights {
            border:  1px solid black;
            width: 80%;
            height: 27%;
            position: relative;
            left: 10%;
            top: -10%;

            h5 {
                border: 1px solid red;
                margin: 0;
                text-align: center;
            }
            ul {
              //  border: 1px solid blue;
              margin-top: 2%;
              padding-left: 7%;;
            }
        }

        .amenities {
            border: 1px solid blue;
            width: 100%;
          
             position: relative;
           // left: 10%;
            top: 7%; 
        }

        button {
            position: absolute;
            left: 10%;
            bottom: 3%;
        }
    }
}
}
